.lava-e-seca .menu {
    background: #fff;
    width: 100%;
    display: block;
    overflow-x: auto;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.lava-e-seca .menu nav {
    display: flex;
    align-items: flex-end;
    width: 1260px;
    height: 111px;
    justify-content: space-around;
}

.lava-e-seca .menu nav a {
    width: 193px;
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    position: relative;
}

.lava-e-seca .menu nav a:hover::before,
.lava-e-seca .menu nav a.active::before  {
    content: "";
    width: 100%;
    height: 7px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(91.35deg, #F08B1D 49.94%, #DB882A 136.63%);
}

.lava-e-seca .menu nav a:last-child::before,
.lava-e-seca .menu nav a.active:last-child::before {
    background: transparent;
}

.lava-e-seca .menu nav a.active svg path  {
    fill: #F08B1D;
}
.lava-e-seca .menu nav a.active span  {
    color: #F08B1D;
}

.lava-e-seca .menu nav a:last-child {
    background:#F8F8F8;
    padding: 0 20px;
}
.lava-e-seca .menu nav a:last-child:hover span,
.lava-e-seca .menu nav a.active:last-child span {
    background: #DB532A;
    color: #fff;
}

.lava-e-seca  .menu nav a:last-child span{
    border: 1px solid #DB532A;
    box-sizing: border-box;
    border-radius: 50px;
    color: #DB532A;
}

.lava-e-seca  .menu nav a:hover {
    color: #F08B1D;
}

.lava-e-seca  .menu nav a:first-child span {
    border: none;
}

.lava-e-seca  .menu nav a span {
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: var(--orange-2);
    border-left: 1px solid #DADADA;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.lava-e-seca  .menu nav a svg {
    height: 60px;
}

.lava-e-seca  .menu nav a svg path {
    fill: #757575;
}

.lava-e-seca  .menu nav a:hover svg path {
    fill: #F08B1D;
}
.lava-e-seca  .menu nav a[href^="#ciclo-tira-manchas"] svg path{
    fill: #ffffff;
}

.lava-e-seca  .menu nav a[href^="#ciclo-edredom"] svg path{
    fill: #ffffff;
}

.lava-e-seca  .menu nav a[href^="#ciclo-tira-manchas"]:hover svg path{
    stroke: #F08B1D;
}

.lava-e-seca  .menu nav a[href^="#ciclo-edredom"]:hover svg path{
    stroke: #F08B1D;
}

.lava-e-seca .menu-sticky {
    z-index: 999;
}

.lava-e-seca .menu-sticky.show nav a svg {
    display: block;
}
.lava-e-seca .menu-sticky.hidden nav a {
    height: 55px;
}

.lava-e-seca .menu-sticky.hidden nav a svg {
    display: none;
}

.lava-e-seca .menu-sticky.hidden nav {
    height: 55px;
    align-items: center;
}
.lava-e-seca .menu-sticky.hidden nav a span {
    border-left: none;
}
.lava-e-seca .menu-sticky.hidden nav a:last-child {
    background: #fff;
}


@media (min-width: 1200px) {
    .lava-e-seca .menu {
        display: flex;
        justify-content: center;
    }
    
}