/****
* INTRO
*****/

.lava-e-seca .intro .page-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lava-e-seca .intro .subtitle-h2 {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #757575;
}

.lava-e-seca .intro .title-h1 {
    margin: 0;
    padding: 0; 
    color: #000000;
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;
}

.lava-e-seca .intro .description {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    max-width: 75%;
}

.lava-e-seca .intro img {
    display: flex;
}

.lava-e-seca .intro .see-more {
    align-items: center;
}

@media (min-width: 1200px) {
    .lava-e-seca .intro .subtitle-h2 {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 13.5px;
    }
    
    .lava-e-seca .intro .title-h1 {
        font-size: 48px;
        line-height: 58px;
    }
    
    .lava-e-seca .intro .description {
        font-size: 20px;
        line-height: 24px;
        max-width: 41%;
    }

    .lava-e-seca .intro .see-more {
        flex-direction: column-reverse;
        margin-top: 10px;
    }
    
    .lava-e-seca .intro .page-title{
        z-index: 2;
        position: relative;

        animation: 0.9s ease-in titulo
    }
    .lava-e-seca .intro {
        height: 595px;
        position: relative;

        animation: 0.9s ease-in altura
    }
    .lava-e-seca .intro picture {
        z-index: 1;
        height: 595px;
        width: 100%;
        top: 0;
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        
        animation: 0.9s ease-in altura
    }
    .lava-e-seca .intro picture img{
        max-width: 1060px;
        width: 100%;
        display: flex;
        margin: 0 auto;

        animation: 0.9s ease-in imagem
    }
    @keyframes titulo {
        from {
            opacity: 0;
            margin-top: 320px;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
        to {
            opacity: 1;
            margin-top: 0;
            position: absolute;
            width: 100%;
            z-index: 2;
        }
    }
    @keyframes imagem {
        from {
            max-width: 1266px;
            
        }
        to {
            max-width: 1060px;
        }
    }
    @keyframes altura {
        from {
            height: 723px;
            
        }
        to {
            height: 595px;
        }
    }
}