.ciclo-uma-hora {
    min-height: 628px;
    background: rgba(255,255,255,1);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 50%;
}

.ciclo-uma-hora .container {
    padding: 0 20px;
}

.ciclo-uma-hora .title-default {
    line-height: initial; 
}

.ciclo-uma-hora .section-page__paragraph {
    max-width: 404px;
    color: rgba(0,0,0,1);
}

.ciclo-uma-hora .section-page__featured_cover > .featured_cover__image-container {
    visibility: hidden;
    display: none;
}

.ciclo-uma-hora .section-page__paragraph {
    font-size: .875rem;
    font-size: 14px;
    font-weight: 100;
}

.ciclo-uma-hora .paragraph-notice {
    font-size: .625rem;
}

.ciclo-uma-hora .paragraph-notice:nth-of-type(even) {
    visibility: hidden;
    display: none;
}

.ciclo-uma-hora .featured_cover {
    position: relative;
    left: -20px;
}

p.section-page__paragraph.paragraph-notice {
    font-size: 10px;
}

@media (min-width: 680px) {
    .ciclo-uma-hora {
        display: flex;
        min-height: 665px;
        margin: 100px 0 0 0;
    }

    .ciclo-uma-hora .section-page__featured_content {
        justify-self: center;
    }

    .ciclo-uma-hora .featured_cover {
        display: none;
        left: initial;
    }

    .ciclo-uma-hora .paragraph-notice:nth-of-type(even) {
        visibility: visible;
        display: initial;
    }

    .ciclo-uma-hora .paragraph-notice:nth-of-type(odd) {
        visibility: hidden;
        display: none;
    }
}

.ciclo-uma-hora .see-more {
    visibility: hidden;
}

@media (min-width: 680px) {
    .ciclo-uma-hora .see-more {
        visibility: visible;
    }
}

@media (min-width: 959px) {
    .ciclo-uma-hora {
        padding: 30px 0;
        background-image: url('../imgs/ciclo-uma-hora__cover.png');      
    }

    .ciclo-uma-hora .section-page__paragraph {
        font-size: .875rem;
        font-size: 16px;
        line-height: 22px;
    }
}

@media (min-width: 1359px) {
    /* .ciclo-uma-hora {
        margin: 160px 0 0 0;
    } */
}

@media (min-width: 1600px) {
    .ciclo-uma-hora {    
        background-size: auto;
        margin-bottom: 30px; 
    }
}

@media (min-width: 1900px) {
    .ciclo-uma-hora {
        background-size: contain;
    }
}

/* Set up to device */
@media (width: 768px) and (max-height: 1024px) {
    .ciclo-uma-hora .section-page__featured_cover > .featured_cover__image-container {
        visibility: visible;
        display: initial;
    }
}

@media (width: 1366px) and (max-height: 768px) {
    .ciclo-uma-hora {
        margin: 230px 0 0 0;
    }
}