@import url("lava-e-seca.intro.css");
@import url("lava-e-seca.slick.css");
@import url("lava-e-seca.detalhes.css");
@import url("lava-e-seca.diferenciais.css");
@import url("lava-e-seca.ciclo-tira-manchas.css");
@import url("lava-e-seca.ciclo-uma-hora.css");
@import url("lava-e-seca.funcao-volto-logo.css");
@import url("lava-e-seca.ciclo-edredom.css");

/* COMPONENTS */
@import url("./components/buttons.css");
@import url("./components/modals.css");
@import url("./components/menu.css");

html {
    scroll-behavior: smooth;
}

.lava-e-seca {
    position: relative;
    padding: 29px 0 0px 0;
    background: #F2F2F2;
    background: rgba(242,242,242,1); /* == hexa #F2F2F2 */
    background: rgba(255,255,255,0);
}

.lava-e-seca .container {
    width: 100%;
    height: 100%;
    position: relative;   
}
/****
* Titulo Padrão
*****/
.title-default {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 65px;
    color: #000000;
    margin: 0;
} 
.title-default span {
    background: white;
    padding: 8px
}
.title-default span:last-child {
    background: white;
    padding: 8px;
    position: relative;
}
.title-default span:last-child::before{
    content: "";
    width: 100%;
    height: 5px;
    background:linear-gradient(91.6deg, #F08B1D 49.94%, #DB882A 136.63%);;
    left: 0;
    bottom: 0;
    position: absolute;
}

/****
* Botão Veja Mais
******/
.see-more {
    font-size: 14px;
    line-height: 17px;
    color: #F08B1D;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 78px;
    text-align: center;
    align-items: center;
}

.see-more .the-arrow {
    width: 34px;
    height: 34px;
    margin-top: 30px;
  }

.see-more .the-arrow.-down > .shaft {
    width: 34px;
    transform: rotate(90deg);
}
.see-more .the-arrow.-down > .shaft:before, .the-arrow.-down > .shaft:after {
    width: 13px;
}
.see-more .the-arrow.-down > .shaft:before {
    transform: rotate(40deg);
}
.see-more .the-arrow.-down > .shaft:after {
    transform: rotate(-40deg);
}
.see-more .the-arrow > .shaft {
    background-color: #F08B1D;
    display: block;
    height: 1px;
    position: relative;
}
.see-more .the-arrow > .shaft:before, .the-arrow > .shaft:after {
    background-color: #F08B1D;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
}
.see-more .the-arrow > .shaft:before {
    transform-origin: top right;
}
.see-more .the-arrow > .shaft:after {
    transform-origin: bottom right;
} 

/****
* Borda nas Imagens
*****/

.border {
    position: relative;
    display: flex;
    margin-bottom: 40px;
}
.border::before {
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #F08B1D;
    position: absolute;
    top: 8px;
    left: 8px;
}

/****
* Video HTML5 responsive
****/
.play-video video {
    width: 100%;
    max-height: 100%;
    display: flex;
}


/* 
#INSERT
INSERÇÕES NO GLOBAL 
*/
.section-page .title-h3 {
    display: inline-block;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 9px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #7B7B7B;
}

/* .section-page img {
    max-width: 100%;
} */

.section-page__featured {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr) );
    height: 100%;
    margin: auto; 
}

.section-page__featured_content {
    display: flex;
    flex-flow: column;
}

.section-page__paragraph {
    color: rgba(255, 255, 255, 1);
}

.featured__call-to-action {
    height: 40px;
    align-self: center;
}

.container-overlay {
    position: fixed;
    display: flex;
    top: 15vh;
    top: 0;
    left: 50%;
    left: 0;
    width: 1366px;
    width: 100%;
    height: 739px;
    height: 100%;
    margin-left: -683px;
    margin: 0;
    background: rgba(255,255,255,1);
    z-index: 9999;
}

/* Utils */
.centered {
    text-align: center;
}

.my-default {
    margin: 15px 0;

}

.px-default {
    padding: 0 15px;
}

.py-default {
    padding: 15px 0;
}

.invisible {
    visibility: hidden;
    display: none;
}

@media (min-width: 680px) {
    .featured__call-to-action {
        align-self: initial;
    }
}

@media (min-width: 759px) {
    .section-page__call-to-action {
        grid-column: 2;
        grid-row: 2;
    }
}

@media (min-width: 1024px) {
    .see-more {
        flex-direction: column-reverse;
        margin-top: 51px;
    }

    .section-page__featured {
        grid-gap: 30px;
    }
}

@media (min-width: 1279px) {
    .section-page__featured_content {
        justify-self: center;
    }
}

@media (min-width: 1600px) {
    .section-page__featured_content {
        justify-self: end;
    }
}

@media (min-width: 1900px) {
    .title-default {
        font-size: 3rem;
        line-height: 97px;
    }
}



